
/* LOGIN */

body {
  background-image: linear-gradient(to bottom, #f9f9f9, #e0e0e0);
  font-family: Arial, sans-serif;
  margin: 20px;
}



.estrellas {
  display: flex;

}

.estrellas span {
  display: inline-block;
  position: relative;
  padding-right: 2px;
  margin: 0 10px;
  /* Agrega margen alrededor de cada estrella */
}

.estrellas span::before {
  content: "☆";

}

.estrellas span.completa::before {
  content: "★";
}

/* contenedor principal cabezera con un padding de 30px arriba/ abajo y 50px izquierda/derecha*/
nav {
  
  display: flex;
  background-color: #ff914d;
  padding: 30px 200px 30px 120px;
  margin-bottom: 30px;
}

/*contenedor del icono mas su texto*/
.icon-principal  {    
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
.bien{
  color: white;
  display: flex;
  justify-content: center;
  align-items: end;
  font-family: 'Krub', sans-serif;

}

.icon-principal span {
  font-size: 22px;
}

/*contenedor de los enlaces*/
.enlaces {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 5%;
  margin: 0;
  list-style: none;
}
.navbar-toggler {
  display: none;
}

/*todos las listas del contenedor enlace tienen un margen a la izquierda de 15px*/

.enlaces li a {
  color: whitesmoke;
  text-decoration: none;
  margin-left: 50px;
  font-size: 22px;

}

/*Contenido principal de la pagina*/
.principal {
  padding: 35px 90px 35px 150px;
  display: flex
}

.presentacion h1 {
  margin-top: 0;
  font-size: 70px;
  margin: 0;
  margin-bottom: 10px;
}


.presentacion p {
  font-size: 25px;
}

.btn btn-light {
  border-radius: 50px;
  margin-left: 20px;
  padding: 0;

}

/* Listado de productos */
.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 40px;
  background-image: url(img\perro\ver-producto.png);
  /* Separa cada producto por 40px */
}


.product {
  background-image: url(slider-1.jpg);
  height: 738px;
  width: 438px;
  background-color: rgba(244, 244, 244, 0.5);
  border-radius: 10px;
  border: 1px solid #000000;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.product-link {
  height: 738px;
  width: 438px;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-grow: 1;
}

.imagen_producto {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  object-fit: scale-down;
}


.titulo_producto {
  width: 50%;
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

.descripcion_producto {
  color: rgb(133, 133, 133);
  font-size: 14px;
  line-height: 1.5;
}

.precio_producto {
  color: #ff3700;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

/*footer*/
.footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}


/* RESPONSIVE */






/* PAGINA PRODUCTO */

.productos-pag { 
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 30px 75px;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 60px 57px 57px 57px;
  box-shadow: 3px 8px 80px 24px rgba(138,131,138,1);

}
.product-pag {
  position: relative;
  left: 85px;  
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  max-width: 100%;
}
.detalles_producto{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  right: 150px;  
  border: 2px solid #000; /* Esto añade un borde de 2px de grosor y de color negro */
  border-radius: 15px;
  width: 600px;
  min-height: 700px;
  
}
.comments{
  width: 100%;
  border-top: 2px solid #000;
}

.titulo_producto-pag {
  font-size: 35px;
  margin-bottom: 20px;
  padding: 7px;
}

.imagen_producto-pag {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.descripcion_producto-pag{
  margin-bottom: 10px;
}
.precio_producto-pag{
  font-size: 35px;
  font-weight: bold;
}

#comentarios-pag {
  margin-bottom:20px;
  flex-direction:column-reverse;
}

#Formulario-pag {
  margin-bottom: 5px;
}
label {
  
  display: block;
  margin-bottom: 5px;
}
.textarea-pag {
  width: 70%;
  padding: 5px 10px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

.button-orange {
  background-color: #ff914d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}


.slider-frame {
  width: 1300px;
  height: 500px;
  margin: auto;
  background-image: url(../img/sliders/sliderperro-prin.jpg);
  background-size: 100% 100%;
  animation: slide 20s infinite linear;
  border: 20px solid #ff914d;

}
@keyframes slide {
	0%, 20% {background-image: url(../img/sliders/sliderperro-1.jpg);
  opacity: 1;
  }
 
	
	25%, 35% {background-image: url(../img/sliders/slidergato-2.jpg);
  opacity: 1;}


	50%, 80% {background-image: url(../img/sliders/sliderperro-prin.jpg);
  opacity: 1;}

	  
	80%, 100%{background-image: url(../img/sliders/slidergato-4.jpg);
  opacity: 1;}
	
}

