
body {
  background-image: linear-gradient(to bottom, #f9f9f9, #e0e0e0);
  font-family: Arial, sans-serif;
  margin: 20px;
}



.estrellas {
  display: flex;

}

.estrellas span {
  display: inline-block;
  position: relative;
  padding-right: 2px;
  margin: 0 10px;
  /* Agrega margen alrededor de cada estrella */
}

.estrellas span::before {
  content: "☆";

}

.estrellas span.completa::before {
  content: "★";
}

/* contenedor principal cabezera con un padding de 30px arriba/ abajo y 50px izquierda/derecha*/
nav {
  
  display: flex;
  background-color: #ff914d;
  padding: 30px 200px 30px 120px;
  margin-bottom: 30px;
}

/*contenedor del icono mas su texto*/
.icon-principal  {    
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
.bien{
  color: white;
  display: flex;
  justify-content: center;
  align-items: end;
  font-family: 'Krub', sans-serif;

}

.icon-principal span {
  font-size: 22px;
}

/*contenedor de los enlaces*/
.enlaces {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 5%;
  margin: 0;
  list-style: none;
}

/*todos las listas del contenedor enlace tienen un margen a la izquierda de 15px*/

.enlaces li a {
  color: whitesmoke;
  text-decoration: none;
  margin-left: 50px;
  font-size: 22px;

}

/*Contenido principal de la pagina*/
.principal {
  padding: 35px 90px 35px 150px;
  display: flex
}

.presentacion h1 {
  margin-top: 0;
  font-size: 70px;
  margin: 0;
  margin-bottom: 10px;
}


.presentacion p {
  font-size: 25px;
}

.btn btn-light {
  border-radius: 50px;
  margin-left: 20px;
  padding: 0;

}

/* Listado de productos */
.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 40px;
  /* Separa cada producto por 40px */
}


.product {
  height: 738px;
  width: 438px;
  background-color: rgba(244, 244, 244, 0.5);
  border-radius: 10px;
  border: 1px solid #000000;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.product-link {
  height: 738px;
  width: 438px;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-grow: 1;
}

.imagen_producto {
  width: 100%;
  height: 60%;
  border-radius: 10px;
  margin-bottom: 10px;
  object-fit: scale-down;
}


.titulo_producto {
  width: 50%;
  color: #333;
  font-size: 16px;
  margin-bottom: 10px;
  white-space: nowrap;
}

.descripcion_producto {
  color: rgb(133, 133, 133);
  font-size: 14px;
  line-height: 1.5;
}

.precio_producto {
  color: #ff3700;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

/*footer*/
.footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}


/* RESPONSIVE */

@media screen and (max-width: 768px) {

  nav {
    flex-direction: column;
    padding: 20px;
  }

  .icon-principal,
  .enlaces {
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
  }

  .enlaces li a {
    margin-left: 10px;
  }

  .principal {
    flex-direction: column;
    padding: 20px;
  }

  .presentacion h1 {
    font-size: 50px;
  }

  .presentacion p {
    font-size: 20px;
  }

  .redes-img {
    align-items: center;
  }

  .redes-img i {
    padding-left: 0;
  }

  .product {
    width: 100%;
  }

  .titulo_producto {
    font-size: 16px;
  }

  .descripcion_producto {
    font-size: 12px;
  }

  .precio_producto {
    font-size: 16px;
  }

}

@media screen and (max-width: 480px) {

  .enlaces li a {
    margin-left: 10px;
    font-size: 18px;
  }

  .presentacion h1 {
    font-size: 40px;
  }

  .presentacion p {
    font-size: 18px;
  }

  .titulo_producto {
    font-size: 14px;
  }

  .descripcion_producto {
    font-size: 10px;
  }

  .precio_producto {
    font-size: 14px;
  }
}


/* PAGINA PRODUCTO */

.productos-pag {
  
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 30px 50px;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 60px 57px 57px 57px;
  box-shadow: 3px 8px 80px 24px rgba(138,131,138,1);


}
.product-pag {
  position: relative;
  left: 85px;
  
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  max-width: 600px;
}
.detalles_producto{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  right: 150px;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000; /* Esto añade un borde de 2px de grosor y de color negro */
  border-radius: 15px;
  width: 600px;
  min-height: 700px;
  
}
.comments{
  width: 100%;
  border-top: 2px solid #000;
}

.titulo_producto-pag {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-bottom: 20px;
  padding: 75px;
}

.imagen_producto-pag {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  height: auto;
  margin-bottom: 10px;
}

.descripcion_producto-pag{
  margin-bottom: 10px;
}
.precio_producto-pag{
  font-weight: bold;
}

#comentarios-pag {
  margin-bottom:20px;
  flex-direction:column-reverse;
}

#Formulario-pag {
  margin-bottom: 5px;
}
label {
  display: block;
  margin-bottom: 5px;
}
.textarea-pag {
  width: 70%;
  padding: 5px 10px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}